<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot password</title>
</head>
<body>
    <div>
        <h5>Hello,</h5>
        <h5>{{user.fname}} {{user.lname}}</h5>
        <p>
            Here is your one time password. You can use it to login with your previous username.
            Please don't forget to change the password after your first login.
            <br><br>
            <strong>Password: {{one_time_pass}}</strong>

            <br><br>
            Thanks for being with us.
            <br><br>
            <strong>Mavenpolis Partners Pte Ltd</strong>
        </p>
    </div>
</body>
</html>